{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

{% block content %}
<section>
    <div class="container">
        <div class="row align-items-center" style="text-align:center;justify-content:center;">
            <div class="p-5">
            <h2 class="display-4">All about Blogging...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            <a class="btn btn-success btn-sm text-center" style="margin-bottom: 10px;"  href="{{url_for('main.new_post')}}">Write a new Post</a>
        </div>
        </div>
    </div>
</section>
<section>
    <div class="conatiner">
        <div class="row align-items-center" style="text-align:center;justify-content:center;">
            <div class="col-md-6">
                {{macro.displayPosts(posts)}}
            </div>
            <div class="col-md-5">
                <div class="card-body card-body-cascade text-center" style="border:2px solid #222;border-radius: 5px;box-shadow: 5px 10px #888888;margin-bottom: 10px;">
                    <h3 class="h3-responsive">{{quote.quote}}</h3>
                    <h5>~ {{quote.author}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock%}